*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/src/androidTest/java/com/github/pedroaugust0/headphoneplugdetection
/src/test/java/com/github/pedroaugust0/headphoneplugdetection